.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #ffa500;
  min-height: 94px;
  padding: 10px;
  @media (max-width: 720px) {
    flex-direction: column;
  }
}

.search-bar-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  @media (max-width: 720px) {
    flex-direction: column;
  }
}
