<div class="header">

  <div class="header-container">
    <div class="header-logo">
      <img src="assets/logo.svg"
           alt="Logotype">
    </div>

    <div class="header-search">
      <div class="header-input">
        <app-input #searchInput
                   inputClass="header-input-search"
                   placeholder="What are you want to find out?"></app-input>
      </div>

      <app-custom-button buttonClass="button-settings"
                         (buttonClick)="handleButtonClick()">
        <img src="assets/search_settings.svg"
             alt="Search Setting">
      </app-custom-button>

      <app-custom-button buttonClass="button-login"
                         (buttonClick)="navigateToLogin()">
        <img src="assets/login.svg"
             alt="Login">
      </app-custom-button>
    </div>

    <app-custom-button *ngIf="showLogoutButton"
                       type="button"
                       (buttonClick)="logout()"
                       buttonClass="button-logout">
      Logout
    </app-custom-button>

  </div>

  <app-search-bar *ngIf="sortPanelVisible"></app-search-bar>

</div>