.header {
  background-color: #ffa500;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 94px;
  gap: 20px;
}

.header-search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-input {
}

.input-search {
}

:host ::ng-deep .header-input-search {
  width: 500px;
  height: 40px;
  padding: 0 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.button.button-search {
  width: 500px;
}
.button-settings {
}
.button-login {
}
