.button {
  font-size: 16px;
  background-color: #c18183;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 60%);
  transition:
    background-color 0.4s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #855a5b;
      border: 2px solid #cd4646;

      .no-text-transform {
        color: black;
      }
    }
  }
}

.button.button-search {
  width: 150px;
  height: 30px;
  @media (max-width: 650px) {
    width: 80px;
    height: 25px;
  }
}

.button-search-bar-date,
.button-search-bar-count {
  width: 150px;
  height: 30px;
}

.button-search-item-more {
  width: 120px;
  height: 32px;
}

.button-login-submit {
  width: 80px;
  height: 35px;
  padding: 5px;
}

.button-logout,
.button-create-card,
.button-admin-card-submit {
  width: 150px;
  height: 30px;
  visibility: visible;
  opacity: 1;
}

.button-visible.button-logout {
  visibility: visible;
  opacity: 1;
}

.button-details-back {
  width: 32px;
  height: 32px;
  background: linear-gradient(120deg, #fffff0, #ffd700);
  position: absolute;
  top: 0;
  left: -33px;
}

.button-admin-add-tag,
.button-admin-reset,
.button-admin-remove-tag {
  width: 90px;
  height: 30px;
}

.button-admin-remove-tag {
  margin-bottom: 30px;
}

.button-admin-card-submit:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.button-heart {
  width: 56px;
  height: 56px;
  img {
    width: 100%;
  }
  background-color: initial;
  border: none;
  border-radius: initial;
  box-shadow: none;
  transition: transform 0.2s ease;
  transform: none;
  &:active {
    transform: none;
    box-shadow: none;
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: initial;
      border: none;
      transform: scale(1.1);

      .no-text-transform {
        color: black;
      }
    }
  }
}

.button-heart.detailed {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 0;
  right: 24px;
}

.button-favorites-back {
  width: 32px;
  height: 32px;
  background: linear-gradient(120deg, #fffff0, #ffd700);
  position: absolute;
  top: 20px;
  left: 0;
}
