.button {
  font-size: 16px;
  background-color: #c18183;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 60%);
  transition:
    background-color 0.4s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #855a5b;
      border: 2px solid #cd4646;

      .no-text-transform {
        color: black;
      }
    }
  }
}

.button.button-search {
  width: 150px;
  height: 30px;
  @media (max-width: 650px) {
    width: 80px;
    height: 25px;
  }
}

.button-search-bar-date,
.button-search-bar-count {
  width: 150px;
  height: 30px;
}

.button-search-item-more {
  width: 120px;
  height: 32px;
}

.button-login-submit {
  width: 80px;
  height: 35px;
  padding: 5px;
}

.button-logout {
  width: 150px;
  height: 30px;
  visibility: visible;
  opacity: 1;
}

.button-visible.button-logout {
  visibility: visible;
  opacity: 1;
}
