.button {
  font-size: 16px;
  background-color: #c18183;
  border: 2px solid #fff;
  box-shadow: 0 4px 8px rgb(0 0 0 / 60%);
  transition:
    background-color 0.4s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #855a5b;
      border: 2px solid #cd4646;

      .no-text-transform {
        color: black;
      }
    }
  }
}

.button.button-search {
  width: 500px;
}
