<article *ngIf="videoData"
         class="search-item">
  <div class="search-item-container">
    <div class="search-item-image">
      <img [src]="getThumbnailUrl()"
           alt=" {{ videoData.snippet.title }} ">
    </div>
    <app-video-statistics [videoData]="videoData"></app-video-statistics>
    <div class="search-item-about">
      <div class="search-item-title">{{ videoData.snippet.title }}</div>
      <div class="search-item-title-count">#{{ videoData.snippet.categoryId }}</div>
    </div>
    <div class="search-item-more">
      <app-custom-button (buttonClick)="navigateToDetail()"
                         buttonClass="button-search-item-more">more...
      </app-custom-button>
      <app-custom-button buttonClass="button-heart"
                         (buttonClick)="addToFavorite()">
        <img [src]="getHeartIcon()"
             alt="Favorite">
      </app-custom-button>
    </div>
  </div>
</article>
<span class="search-item-line"
      [appDateBackground]="videoData.snippet.publishedAt"></span>