<div class="form-admin-card-container">
  <form [formGroup]="cardForm"
        action="#"
        method="post"
        autocomplete="on"
        class="form-card"
        (ngSubmit)="onCreateCard()">
    <div class="create-card-container">

      <h1 class="card-title">Create new card</h1>

      <label class="card-label"
             for="title">Title<span class="required-star">*</span></label>
      <app-input formControlName="title"
                 type="text"
                 [inputClass]="cardForm.get('title')?.invalid && (cardForm.get('title')?.dirty || cardForm.get('title')?.touched) ? 'title-input error-border' : 'title-input'"
                 id="title"
                 name="title"
                 placeholder=""></app-input>
      <div *ngIf="cardForm.get('title')?.invalid && (cardForm.get('title')?.dirty || cardForm.get('title')?.touched)"
           class="error-message">
        <div *ngIf="cardForm.get('title')?.errors?.['required']">Please enter a title</div>
        <div *ngIf="cardForm.get('title')?.errors?.['minlength']">Title is too short</div>
        <div *ngIf="cardForm.get('title')?.errors?.['maxlength']">Title is too long</div>
      </div>


      <label class="card-label"
             for="description">Description</label>
      <app-input formControlName="description"
                 type="text"
                 [inputClass]="cardForm.get('description')?.invalid && (cardForm.get('description')?.dirty || cardForm.get('description')?.touched) ? 'description-input error-border' : 'description-input'"
                 id="description"
                 name="description"
                 placeholder=""></app-input>
      <div *ngIf="cardForm.get('description')?.errors?.['maxlength'] && (cardForm.get('description')?.dirty || cardForm.get('description')?.touched)"
           class="error-message">
        The description is too long
      </div>

      <label class="card-label"
             for="img-card">Img<span class="required-star">*</span></label>
      <app-input formControlName="imgCard"
                 type="text"
                 [inputClass]="cardForm.get('imgCard')?.invalid && (cardForm.get('imgCard')?.dirty || cardForm.get('imgCard')?.touched) ? 'img-card-input error-border' : 'img-card-input'"
                 id="img-card"
                 name="img-card"
                 placeholder=""></app-input>
      <div *ngIf="cardForm.get('imgCard')?.invalid && (cardForm.get('imgCard')?.dirty || cardForm.get('imgCard')?.touched)"
           class="error-message">
        <div *ngIf="cardForm.get('imgCard')?.errors?.['required']">Please enter a link to the image</div>
      </div>

      <label class="card-label"
             for="link-video">Link video<span class="required-star">*</span></label>
      <app-input formControlName="linkVideo"
                 type="text"
                 [inputClass]="cardForm.get('linkVideo')?.invalid && (cardForm.get('linkVideo')?.dirty || cardForm.get('linkVideo')?.touched) ? 'link-video-input error-border' : 'link-video-input'"
                 id="link-video"
                 name="link-video"
                 placeholder=""></app-input>
      <div *ngIf="cardForm.get('linkVideo')?.invalid && (cardForm.get('linkVideo')?.dirty || cardForm.get('linkVideo')?.touched)"
           class="error-message">
        <div *ngIf="cardForm.get('linkVideo')?.errors?.['required']">Please enter a link to the video</div>
      </div>

      <label class="card-label"
             for="create-date">Creation date<span class="required-star">*</span></label>
      <app-input formControlName="createDate"
                 type="date"
                 [inputClass]="cardForm.get('createDate')?.invalid && (cardForm.get('createDate')?.dirty || cardForm.get('createDate')?.touched) ? 'create-date-input error-border' : 'create-date-input'"
                 id="create-date-video"
                 name="create-date-video"
                 placeholder=""></app-input>
      <div *ngIf="cardForm.get('createDate')?.invalid && (cardForm.get('createDate')?.dirty || cardForm.get('createDate')?.touched)"
           class="error-message">
        <div *ngIf="cardForm.get('createDate')?.errors?.['required']">Please enter a creation date</div>
        <div *ngIf="cardForm.get('createDate')?.errors?.['futureDate']">The date is invalid</div>
      </div>

      <!-- Tags Section -->
      <div formArrayName="tags">
        <div *ngFor="let tag of tags.controls; let i = index">
          <label class="card-label"
                 for="tag-{{i}}">Tag<span class="required-star">*</span></label>
          <app-input formControlName="{{i}}"
                     type="text"
                     inputClass="create-tag-input"
                     id="tag"
                     name="tag"
                     placeholder=""></app-input>
          <app-custom-button type="button"
                             (click)="removeTag(i)"
                             *ngIf="tags.length > 1"
                             buttonClass="button-admin-remove-tag">Remove</app-custom-button>
        </div>
      </div>
      <div class="block-button-card">
        <app-custom-button type="button"
                           (click)="addTag()"
                           *ngIf="tags.length < 5"
                           buttonClass="button-admin-add-tag">Add Tag</app-custom-button>
        <app-custom-button type="button"
                           (click)=" resetForm()"
                           buttonClass="button-admin-reset">Reset</app-custom-button>
      </div>

      <app-custom-button type="submit"
                         buttonClass="button-admin-card-submit"
                         [disabled]="!cardForm.valid">
        Create card
      </app-custom-button>
    </div>
  </form>
</div>