<article class="detail-inform">
  <app-custom-button (buttonClick)="navigateToDetail()"
                     buttonClass="button-details-back">
    <fa-icon [icon]="faBackward"></fa-icon>
  </app-custom-button>
  <div class="detail-inform-container">
    <div class="detail-inform-image">
      <img [src]="getThumbnailUrl()"
           alt=" {{ videoData?.snippet?.title }} ">
    </div>
    <div class="detail-inform-content">
      <div class="detail-inform-about">
        <div class="detail-inform-us">
          <div class="detail-inform-title">{{ videoData?.snippet?.title }}</div>
          <div class="detail-inform-title-count">#{{ videoData?.snippet?.categoryId }}</div>
        </div>
        <div class="detail-inform-date">{{ videoData?.snippet?.publishedAt | date: 'EEEE, MMMM d, y' }}</div>
      </div>
      <div class="detail-inform-description">
        <div class="detail-inform-description-title">Description:</div>
        <div class="detail-inform-description-text">{{ videoData?.snippet?.description }}</div>
      </div>
      <app-video-statistics [videoData]="videoData"></app-video-statistics>
      <span class="search-item-line"
            [appDateBackground]="videoData?.snippet?.publishedAt"></span>
    </div>
  </div>
</article>