<article class="detail-inform">
  <div class="detail-inform-container">
    <div class="detail-inform-image">
      <img src=""
           alt="">
    </div>
    <div class="detail-inform-content">
      <div class="detail-inform-about">
        <div class="detail-inform-us">
          <div class="detail-inform-title"></div>
          <div class="detail-inform-title-count">#</div>
        </div>
        <div class="detail-inform-date"></div>
      </div>
      <div class="detail-inform-description">
        <div class="detail-inform-description-title"></div>
        <div class="detail-inform-description-text"></div>
      </div>

    </div>
  </div>
</article>