<form action="#"
      method="post"
      autocomplete="on"
      class="form-login">
  <div class="login-container">

    <h1 class="login-title">Login</h1>

    <label class="login-label"
           for="username">login</label>
    <app-input type="text"
               inputClass="login-input"
               id="username"
               name="username"
               placeholder="Login"></app-input>

    <label class="login-label"
           for="password">password</label>
    <app-input type="password"
               inputClass="password-input"
               id="password"
               name="password"
               placeholder="********"></app-input>

    <app-custom-button type="submit"
                       buttonClass="button-login">
      Login
    </app-custom-button>
  </div>
</form>