.form-login {
  border-radius: 10px;
  background-color: #ffffff;
  outline: #fff double 5px;
  box-shadow:
    0 3px 10px 4px rgb(227 216 216 / 40%),
    0 4px 15px 6px rgb(0 0 0 / 50%),
    0 5px 20px 10px rgb(120 114 114 / 60%);
  padding: 2vw;
  max-width: 28rem;
  transition: width 0.5s ease;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff; /* белый фон для формы */
  width: 100%;
  padding: 2.5rem;
  padding-top: 1.2rem;
  border-radius: 8px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}
.login-title {
}
.login-label {
}
.login-input {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border-width: 1px;
  border-style: solid;
  border-color: #bdbcbc;
  border-radius: 4px;
  outline-style: none;
  cursor: pointer;
}
.password-input {
}
.button-login {
}
