<div class="main-favorite-container">
  <h1 class="main-favorite-title">Your Favorites</h1>

  <app-custom-button (buttonClick)="navigateToDetail()"
                     buttonClass="button-favorites-back">
    <fa-icon [icon]="faBackward"></fa-icon>
  </app-custom-button>

  <div class="video-list-container"
       *ngIf="favoriteVideosSignal() && favoriteVideosSignal().length">
    <div *ngFor="let video of favoriteVideosSignal()">
      <app-search-item [videoData]="video"></app-search-item>
    </div>
  </div>

  <div *ngIf="!favoriteVideosSignal().length">
    No favorites yet.
  </div>
</div>