.search-item {
  padding: 20px;
  border: 2px solid #c18183;
  border-radius: 5px;
  max-width: 264px;
  min-height: 327px;
  background: linear-gradient(120deg, #fffff0, #ffd700);
}
.search-item-container {
  display: flex;
  flex-direction: column;
}
.search-item-image {
  &:not(:last-child) {
    margin-bottom: 21px;
  }
}
.search-item-statictics {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  &:not(:last-child) {
    margin-bottom: 21px;
  }
}
.stat-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-item-about {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  &:not(:last-child) {
    margin-bottom: 59px;
  }
}
.search-item-title {
}
.search-item-title-count {
}
.search-item-more {
  display: flex;
  align-items: center;
  justify-content: center;
}
