.input {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  width: 500px;
  height: 40px;
  padding: 0 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.input.header-input-search {
  width: 500px;
  height: 40px;
  @media (max-width: 870px) {
    width: 400px;
    height: 30px;
  }
  @media (max-width: 650px) {
    width: 250px;
    height: 30px;
  }
}

.input.search-bar-input-word {
  width: 300px;
  height: 30px;
}

.login-input,
.password-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-width: 1px;
  border-style: solid;
  border-color: #bdbcbc;
  border-radius: 4px;
  outline-style: none;
  cursor: pointer;
  &:focus {
    border-color: red;
  }
}
