<article *ngIf="customCard"
         class="custom-card">
  <div class="custom-card-container">
    <div class="custom-card-image">
      <img src="Image Pucture"
           alt=" {{ customCard.imageUrl }} ">
    </div>
    <div class="custom-card-about">
      <div class="custom-card-title">{{ customCard.title }}</div>
      <div class="custom-card-description">{{ customCard.description }}</div>
      <div class="custom-card-description">{{ customCard.creationDate }}</div>
    </div>
    <div class="search-item-more">
      <app-custom-button (buttonClick)="navigateToDetail()"
                         buttonClass="button-search-item-more">more...
      </app-custom-button>
    </div>
  </div>
</article>
<span class="custom-card-line"
      [appDateBackground]="customCard?.creationDate?.toISOString()"></span>